.home-container {
  position: relative;
  background-image: url(../../public/images/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-color: rgba(157, 148, 148, 0.239);
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.img-hero {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(157, 148, 148, 0.239);
  z-index: 1;
  pointer-events: none;
}

.HomeTitle {
  font-weight: 600;
  font-size: 4rem;
}

.HomeSubtitle {
  font-weight: 600;
  font-size: 3rem;
}
