.custom-footer {
  background-color: #212529;
  color: white;
  padding: 3rem 1rem;
  width: 100%;
}

.title-footer {
  font-weight: 600;
}

.footer-link {
  color: #ccc;
  text-decoration: none;
  transition: all 0.2s;
}

.footer-link:hover {
  font-weight: bold;
  color: white;
}

.footer-icon {
  color: #696969;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.footer-icon:hover {
  color: white;
}
